<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wy.daylife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WBAuthActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MainService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.MentionActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sina_profile"
                    android:scheme="devdiv" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TrendsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sina_profile1"
                    android:scheme="devdiv" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:parentActivityName=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="sina_profile2"
                    android:scheme="devdiv" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StatusDetailActivity" />
        <activity android:name=".activity.ImageShowActivity"></activity>
        <activity android:name=".activity.PostMessegeActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>
    </application>

</manifest>